{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
  <title>لوتوس پارسیان</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'admin/dailyreport/img/lotus-icon.png' %}">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/util.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/main.css'%}">


</head>
<div class="container-login100" >


  <p style=" font-family: 'BNazanin';
    font-size: 22px;
    color: #fff;">
    لینک بازیابی رمزعبور ارسال گردید 
    
    لطفا ایمیل خود را بررسی بفرمائید
    <br>
    در صورت عدم دریافت ایمیل فولدر اسپم را بررسی نمائید 
   
  </p>


</div>
</html>

 