{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
  <title>لوتوس پارسیان</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'admin/dailyreport/img/lotus-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'admin/dailyreport/img/icons/lotus-icon.png'%}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/util.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/main.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/fontawesome/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/fontawesome/font-awesome-4.7.0/css/font-awesome.min.css'%}">

</head>
<body>
  <div class="limiter">
    <div class="container-login100" style="float: right;">
      <form method="post">
        {% csrf_token %}
  
  
          <div class="wrap-input100 validate-input" style="float: right;">
            <table class="input200">
              <tr>
                <td >ایمیل</td>
                <td >{{form.email}}{{form.Secondemail}}</td>
    
              </tr>
            </table>
          </div>
              <input type="submit" class="login100-form-btn" value="ارسال">
      </form>
      <span class="login100-form-title p-b-41" style="margin-bottom: 200px;float: right;">
        فراموشی رمز عبور
         </span>
  </div>
</div>



</body>