
{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
  <title>لوتوس پارسیان</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'admin/dailyreport/img/lotus-icon.png' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/util.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/dailyreport/css/main.css'%}">

</head>


<div class="container-login100" >



{% if validlink %}
<form method="post">
  {% csrf_token %}
  <div class="wrap-input100 validate-input" style="float: right;">
    <table class="input200">
      <tr>
        <th>رمز جدید</th>
       
        <th >تکرار رمز جدید</th>
        

      </tr>
      <tr>
        
        <td >{{ form.new_password1 }}</td>
      
        <td >{{ form.new_password2 }}</td>

      </tr>
    </table>
  </div>
 
  <button type="submit" style=" font-family: 'BNazanin';
  color: #ffb500;font-size: 22px;">بازیابی</button>
  
</form>
<h3 style=" font-family: 'BNazanin';
font-size: 22px;
color: #fff; margin-bottom: 100px;">تغییر رمز عبور</h3>
{% else %}
<p style=" font-family: 'BNazanin';
font-size: 22px;
color: #fff;;">
  لطفا درخواست خود را مجدد ثبت نمائید.لینک  نا معتبر است 
</p>
{% endif %}
</div>